.dashboard-container {
	padding: 15px;
}
h5,
h3,
p {
	margin: 0 0;
	padding: 0 0;
}
h5 {
	color: grey;
	font-size: 16px;
	margin-bottom: 0px !important;
}
.head {
	font-size: 25px;
	color: rgb(3, 146, 120);
	margin-top: 0px;
}
.card {
	min-height: 120px;
	min-width: 19%;
	border-radius: 9px;
	background-color: rgb(214, 247, 250);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2px;
}
.upper-container {
	display: flex;
	align-items: center;
	gap: 10px;
}
.chart-container {
	width: 70%;
}
.chart-container {
	height: 400px;
	width: 35%;
}
.charts-container {
	display: flex;
}
.area-charts {
	width: 60%;
}
